@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header,
main {
    padding-left: 3em;
    padding-right: 3em;
}

/* main styles starts  */
main {
    display: flex;
    column-gap: 2em;
}

/* top banner styles stars */
.top-banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #161616;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    height: 540px;
}

.banner-info {
    color: #FFFFFF;
    width: 400px;
}

.banner-text {
    font-weight: 700;
    font-size: 40px;
}

.top-btn {
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    width: 106px;
    height: 20px;
    background: #DD0000;
    border-radius: 5px;
    transition: width 3s;
}

.top-btn:hover {
    width: 150px;
}

#marcelo {
    width: 415px;
    height: 480px;
}

/* top banner styles end */
/* upcoming section styles starts */
.matches {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    row-gap: 1em;
    width: 230px;
    height: 230px;
    background-color: #161616;
    border-radius: 10px;
}

.upcoming-match {
    display: grid;
    justify-items: center;
    row-gap: 1em;
    width: 220px;

}

.new-match {
    text-align: center;
    height: 40px;
    width: 160px;
    background-color: white;
    border-radius: 10px;
    padding-top: 15px;
}

.match {
    text-align: center;
    text-decoration: none;
    color: black;
    width: 252px;
    height: 64px;
}

#blog-btn {
    background: #DD0000;
}

/* upcoming sections styles end */
/* article section  starts */
.blogs {
    width: calc(100%-230px);
}

.blog-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    column-gap: 1em;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1em;
    border: 1px solid rgba(0, 0, 0, 0.342);
}

.blog-image {
    width: 285px;
}

.icon {
    display: flex;
    column-gap: 1em;
}

/* article secton styles end  */
/* view all button styles starts */
.view-all{
    display: none;
    text-align: center;
}
.view-all a{
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid black;
}
/* view all button styles end  */
/* footer styles stars */
footer {
    margin-top: 6em;
    padding: 1em;
    text-align: center;
    background: #161616;
    border-radius: 10px;
    color: white;
}

.footer-info {
    display: flex;
    justify-content: center;
    column-gap: 1em;

}

.footer-info li {
    list-style: none;
}

hr {
    color: whitesmoke;
    width: 75%;
}

.social {
    font-size: 3em;
}

/* foooter styels end  */
/* matches.htmls styles start  */
.flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}

.new-flags {
    width: 240px;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.37);
    text-align: center;
}

.new-flags p {
    color: #4D4D4D;
}

.flag {
    display: flex;
    justify-content: center;
    column-gap: 1em;
}

/* matches.htmls styles end  */

/* responsive layout sharts  */

/* --------------for mobie divices
-------------------------------- */
@media screen and (max-width:688px) {
    header{
        padding-left: 1em;
        padding-right: 1em;
    }
    .top-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 315px;
        height: 500px;
        border-radius: 10px;
    }
    .banner-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 258px;
        height: 178px;
    }
    .banner-text{
        font-weight: 700;
        font-size: 22px;
    }
    .banner-info p{
        font-weight: 400;
        font-size: 11px;
        margin-bottom: 2px;
    }
    .top-btn{
        display: flex;
        flex-direction: row;
        padding: 8px 12px;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    #marcelo{
        width: 233px;
        height: 245px;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em;
    }
    .matches{
        margin: 20px;
        background-color:#E8E8E8;
    }
    .blog-item{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-info li{
        padding-top: 20px;
        padding-right: 40px;
        font-weight: 400;
        font-size: 14px;
        color: #B9B9B9;
    }
    .flags{
        display: flex;
        flex-direction: column;
    }
}