@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    padding-left: 3em;
    padding-right: 3em;
}
/* top banner styles stars */
.top-banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #161616;
    border-radius: 30px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    height: 540px;
}
.banner-info{
    color: #FFFFFF;
    width: 400px;
}
.banner-text{
    font-weight: 700;
    font-size: 40px;
}
.top-btn{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    gap: 10px;
    width: 106px;
    height: 20px;
    background: #DD0000;
    border-radius: 5px;
}
#marcelo{
    width: 415px;
    height: 480px;
}
/* top banner styles end */
/* upcoming section styles starts */
.matches{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    row-gap: 1em;
    width: 280px;
    height: 280px;
    background-color: #161616;
    border-radius: 10px;
    border: 1px solid green;
}
.upcoming-match{
    display: grid;
    justify-items: center;
    row-gap: 1em;
     
}
.new-match{
    text-align: center;
    height: 46px;
    width: 221px;
    background-color: white;
    border-radius: 10px;
    padding-top: 19px;
}
.match{
    text-align: center;
    text-decoration: none;
    color:black;
    width: 252px;
    height: 64px;
}
#blog-btn{
    background: #DD0000;
}

